@use "fonts";

// Color scheme
$primary-color: #fad506;
$body-text-color: #fad506;

// Typography
$hero-heading: "jedifont", helvetica, arial;
$body-font-family: "robotoregular", arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
