@use "fonts";

$primary-color: #fad506;
$body-text-color: #fad506;
$body-font-family: "robotoregular", arial, sans-serif;
$hero-heading: "jedifont", helvetica, arial;
$base-font-size: 18px;
$base-font-weight: 400;
