@use "fonts";

// Color scheme
$yellow-color: #fad506;
$red-color: #fa2206;
$black-color: #000;
$white-color: #fff;

// Typography
$hero-heading: "jedifont", helvetica, arial;
$body-font-family: "robotoregular", arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
