@use "../abstract/variables" as a;

header {
  width: 100vw;
  height: 100vh;
  background-color: rgba(a.$black-color, 0.5);
  color: a.$yellow-color;
}

header #particles {
  display: block;;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

header .info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  height: 100vh;
}

header .info-text h1 {
  font-size: 5rem;
  font-weight: 500;
  font-family: a.$hero-heading;
}

header .info-text h3 {
  font-size: 1rem;
  font-family: a.$body-font-family;
  text-align: center;
}

header .info-text .scroll {
  position: absolute;
  bottom: 20%;
  left: 50%;
  color: a.$yellow-color;
  transform: translate(0, -50%);
  transition: all 0.5s;
}

header .info-text .scroll:hover {
  opacity: 0.7;
}

header .info-text .scroll::before {
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 a.$black-color;
  border-radius: 100%;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0;
  }
  15%,
  45% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 30px rgba(a.$black-color, 0.1);
    opacity: 0;
  }
}
