@use "../abstract/variables" as a;

body {
  font-family: a.$body-font-family;
}

h2 {
  font-family: a.$hero-heading;
  color: a.$yellow-color;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  color: a.$white-color;
}
p {
  line-height: 24px;
}
