@use "../abstract/variables" as a;

.spinner {
  height: 440px;
  background: url(../images/spinner.svg) center no-repeat;
}

.grid-con {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 72px;
  padding-right: 72px;
}
body {
  color: a.$body-text-color;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
}

span {
  font-weight: bold;
}

#char-avatar {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  h2 {
    font-family: a.$hero-heading;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-left: 40px;
    width: 100%;
  }
}

.character {
  margin-bottom: 50px;
  text-align: center;
  background-color: #fff;
  width: 80px;
  height: 80px;
  border: solid 2px #178302;
  border-radius: 2px;
  box-shadow: #fad506;
  transition: transform 0.3s ease, border-color 0.3s ease;

  p {
    margin-top: 8px;
    font-size: 12px;
    color: white;
  }
}

.character:hover {
  cursor: pointer;
  border-color: #fa2206;
  transform: scale(1.1);
}

.char-selected {
  border: solid 8px white;
  border-radius: 8px;
}

#preview-char {
  text-align: center;
  h2 {
    font-family: a.$hero-heading;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-left: 40px;
    width: 100%;
  }
}

#movie-details-box {
  h2 {
    font-family: a.$hero-heading;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-left: 40px;
    width: 100%;
  }
}

#char-preview {
  width: 85%;
}

#info-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(22, 26, 29, 0.6);
  margin-top: 60px;
  padding: 30px;
  border: solid 3px #178302;
  border-radius: 15px;

  p {
    font-size: 15px;
    line-height: 30px;
    margin-left: 20px;
    color: white;
  }

  img {
    width: 340px;
    height: 340px;
  }
}

.movie-title {
  flex: 1;
  width: 100%;
  font-family: a.$hero-heading;
  letter-spacing: 3px;
  font-size: 35px;
  margin-bottom: 25px;
  color: #fad506;
}
.instruction {
  padding-left: 40px;
}
.movie-info {
  display: flex;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.howto {
  padding-top: 147px;
  text-align: center;
  font-size: 26px;
  font-family: a.$hero-heading;
  letter-spacing: 3px;
}
.howto1 {
  padding-top: 147px;
  text-align: center;
  font-size: 40px;
  font-family: a.$hero-heading;
  letter-spacing: 3px;
}

//AR Style
.container {
  padding-top: 50px;
  position: relative;
  width: 100%;
  height: 100vh;
}
.model-title {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-160%);
  color: white;
  z-index: 10;
  font-size: 20px;
  text-align: center;
  font-family: a.$body-font-family;
}
.model-title span {
  color: #fad506;
}

model-viewer {
  width: auto;
  max-width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.Hotspot {
  background: url(/images/spinner.svg) no-repeat center;
  border: 0;
  border-radius: 20px;
  width: 15px;
  height: 30px;
}
.Hotspot:not([data-visible]) {
  opacity: 0;
}

.Hotspot:focus {
  border: 4px solid #fad506;
  height: 32px;
  outline: none;
  width: 32px;
}
.HotspotAnnotation {
  visibility: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: a.$body-font-family;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 10%;
  width: max-content;
}
.HotspotAnnotation p {
  color: #fad506;
  line-height: 18px;
  font-weight: 200;
  text-align: center;
  font-size: 14px;
}
.HotspotAnnotation h2 {
  font-size: 18px;
  margin-bottom: 5px;
}
