@use "../abstract/variables" as a;

.spinner {
  height: 440px;
  background: url(../images/spinner.svg) center no-repeat;
}

.grid-con {
  background-color: rgba(a.$black-color, 0.5);
  padding-left: 72px;
  padding-right: 72px;
}

body {
  color: a.$black-color;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  display: block;
}

#starwars {
  background-color: rgba(a.$black-color, 0.5);
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
}

span {
  font-weight: bold;
}

#char-avatar {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  h2 {
    width: 100%;
  }
}

.theCharacters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 3px a.$yellow-color;
  border-radius: 15px;
  padding-bottom: 20px;
}

.character {
  margin-bottom: 50px;
  text-align: center;
  background-color: a.$white-color;
  width: 80px;
  height: 80px;
  border: solid 2px a.$yellow-color;
  border-radius: 2px;
  box-shadow: a.$yellow-color;
  transition: transform 0.3s ease, border-color 0.3s ease;

  p {
    margin-top: 8px;
    font-size: 12px;
    color: a.$white-color;
  }
}

.character:hover {
  cursor: pointer;
  border-color: a.$red-color;
  transform: scale(1.1);
}

.char-selected {
  border: solid 8px a.$white-color;
  border-radius: 8px;
}

#preview-char {
  text-align: center;
  width: 100%;
}

#info-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(a.$black-color, 0.25);
  margin-top: 60px;
  padding: 30px;

  p {
    font-size: 15px;
    line-height: 30px;
    margin-left: 20px;
    color: a.$white-color;
  }

  img {
    width: 340px;
    height: 340px;
  }
}

.movie-title {
  flex: 1;
  width: 100%;
  font-family: a.$hero-heading;
  letter-spacing: 3px;
  font-size: 35px;
  margin-bottom: 25px;
  color: a.$yellow-color;
}

.instruction {
  padding-left: 40px;
}

.movie-info {
  display: flex;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.howto {
  padding-top: 147px;
  text-align: center;
  font-size: 26px;
  font-family: a.$hero-heading;
  letter-spacing: 3px;
}

.howto1 {
  padding-top: 148px;
  text-align: center;
  font-size: 40px;
  font-family: a.$hero-heading;
  letter-spacing: 3px;
}